{% extends "base.html" %} 

{% block stylesheets %}
{% endblock %} {% block body %}
<div class="container">
    <div class="row justify-content-start py-3">
        <div class="col-sm-2">
            <img src="{{ product.icon.url}}" alt="{{ product.title }} icon" class="d-block img-circle align-center" style="max-height:64px">
        </div>
        <div class="col-sm-6">
            <a href="{{ product.url }}">
                <h2>{{ product.title }}</h2>
            </a>
        </div>
    </div>
    <div class="row py-3" id=content>
        <div class="col-md-8">
            <img src="{{ product.image.url}}" alt="{{ product.title }} image" class="img-fluid">
        </div>
        <div class="col-md-4 my-auto">
            <a href="javascript:{document.getElementById('upvote').submit()}">
                <button class="btn btn-primary btn-block my-2">
                    <span class="oi oi-caret-top"></span> Upvote {{product.votes_total}}</button>
            </a>
        </div>
    </div>
    <div class="row" id="product-hunter">
        <div class="col-md-4">
            <h4>Hunted by {{ product.hunter.username}}</h4>
        </div>
        <div class="col-md-4">
            <h4>{{ product.pretty_pub_date }}</h4>
        </div>
    </div>
    <div class="row" id="product-body">
        <div class="col-md-8">
            <p>{{ product.body }}</p>
        </div>
    </div>

    <form id="upvote" method="POST" action="{% url 'products:upvote' product.id %}">
        {% csrf_token %}
        <input type="hidden">
    </form>
</div>

{% endblock %}